@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.banner-content {
  max-width: 800px;
  margin: auto;
  animation: zoomIn 1s ease-out;
}

.button-group {
  margin-top: 30px;
}

.radiant-button {
  background-color: #ff6f61;
  border: none;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
}

.radiant-button:hover {
  background-color: #ff3b2e;
}

.fit-banner {
  background: url('https://img.freepik.com/free-psd/3d-cryptocurrency-icon-bitcoin-illustration_629802-4.jpg?t=st=1722568369~exp=1722571969~hmac=9f1d3004075b0b0499ebbf6e07113bb275908ccc515f833c559106aa70cc2d39&w=740') no-repeat center center;
  background-size: cover;
  padding: 50px;
  text-align: center;
  color: white;
  width: 100%;
  height: 100vh; /* Ensure the banner covers the full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 2s ease-in;
}

.fit-banner-content {
  max-width: 800px;
  margin: auto;
  animation: zoomIn 1s ease-out;
}
